main {
    display: flex;
    height: calc(100vh - 40vh);
    flex: 1;
}
header{
    height: 20vh;
}
footer{
    height: 20vh;
}
nav{
    order: -1;
}
article{
    flex: 1;
}

* {
    box-sizing: border-box;
}

nav,
aside {
    background: #808080;
    padding: 10px;
    width: 20vw;
}

header,
footer {
    background: rgba(0,0,0,0.18);
    padding: 10px;
}

article {
    padding: 10px;
}
